<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
    content="Software, softwares, solution, solutions, IT, telecommunication, telecommunications,Zanzibar, zanzibar, tehama,Property management, solution management, mifumo, mfumo, mapato, makusanyo, michango, management, managements, arusha, aruscha, tanzania, jumuiya, africa, east, jumuiya, mashariki, afrika, zanzibar">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<title>IT & Software services Arusha | Saincraft Technologies</title>
<title>Software IT services Arusha Tanzania | Property Management Software | Business Management Software | Enterprise
    Management Software|Software, softwares, solution, solutions, IT, telecommunication, telecommunications,Zanzibar,
    zanzibar, tehama,Property management, solution management, mifumo, mfumo, mapato, makusanyo, michango, management,
    managements, arusha, aruscha, tanzania, jumuiya, africa, east, jumuiya, mashariki, afrika, zanzibar</title>

<script src="{{cdn}}vendors/jquery/jquery.js"></script>
<link href="{{cdn}}vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{cdn}}assets/css/fontawesome.css">
<link rel="stylesheet" href="{{cdn}}assets/css/templatemo-scholar.css">
<link rel="stylesheet" href="{{cdn}}assets/css/owl.css">
<link rel="stylesheet" href="{{cdn}}assets/css/animate.css">
<link rel="stylesheet" href="{{cdn}}assets/css/swiper-bundle.min.css" />